@import 'tailwindcss/base';
@import 'tailwindcss/utilities';

.gradient-text {
  background-image: linear-gradient(135deg, #6699FF 0%, #FF3366 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
